<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="SPONGE CPU"
    Language="1033"
    Version="{{PRODUCT_VERSION}}"
    Manufacturer="SPONGE Development Team"
    UpgradeCode="B6B881BE-8652-4946-9097-831EF5C6D50B">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of SPONGE CPU is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="ApplicationFolderName" Value="SPONGE" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="ALLUSERS" Value="1" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="APPLICATIONFOLDER" Name="SPONGE" />
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="SPONGE CPU" Description="Core SPONGE CPU binaries and runtime files." Level="1" Display="expand" Absent="disallow">
      <ComponentGroupRef Id="ProductFiles" />
      <Feature Id="PathFeature" Title="Add SPONGE to PATH" Description="Adds the installation directory to the system PATH." Level="1">
        <ComponentRef Id="AddInstallDirToPath" />
      </Feature>
    </Feature>

    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="AddInstallDirToPath" Guid="4A1B5C2B-5B2B-44A7-BD53-E8D470B9B6F4" Win64="yes">
        <Environment
          Id="AddToPath"
          Action="set"
          Name="PATH"
          Part="last"
          System="yes"
          Value="[INSTALLFOLDER]" />
      </Component>
{{FILE_COMPONENTS}}
    </DirectoryRef>

    <ComponentGroup Id="ProductFiles">
{{COMPONENT_REFS}}
    </ComponentGroup>

    <UIRef Id="WixUI_Advanced" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>
